<div class="card my-2" data-controller="changelog" data-changelog-log-value="<%= log.id %>">
  <div class="card-body <%= log.pending? ? 'pending-log' : '' %>">
    <div class="row">
      <div class="col-sm-7">
        <div class="form-check">
          <input class="form-check-input" id="log-<%= log.id %>" type="checkbox" <%= log.promoted? ? 'checked' : '' %> data-action="change->changelog#promote" />
          <label class="form-check-label" for="log-<%= log.id %>">
            <h5><%= log.name %></h5>
          </label>
        </div>
      </div>
      <div class="text-muted col-sm-4">
        <%= log.created_at.strftime("%B %-d, %Y") %>
        <span class="badge rounded-pill bg-light text-dark">
          <%= log.kind %>
        </span>
      </div>
    </div>

    <p class="card-text">
      <%= log.body %>
    </p>
  </div>

  <div class="card-body">
    <%= link_to 'Edit', edit_changelog_path(log), class: 'btn btn-light float-start mx-2' %>
    <%= button_to 'Delete', changelog_path(log), class: 'btn btn-light float-start mx-2', method: 'delete' %>

    <% if log.pull_request_id.present? %>
      <%= link_to 'PR', log.pull_request_url, class: 'btn btn-light float-start mx-2' %>
    <% end %>
  </div>
</div>
